--no-cache
--no-output
--verbose
--markup markdown
--markup-provider redcarpet
--asset docs/images:images
--readme README.markdown
lib/**/*.rb
ext/**/*.m
-
docs/AXElements.markdown
docs/Inspecting.markdown
docs/Acting.markdown
docs/Notifications.markdown
docs/KeyboardEvents.markdown
docs/Searching.markdown
docs/Debugging.markdown
docs/RSpecMinitest.markdown
LICENSE.txt
