--no-cache
--no-output
--verbose
--markup markdown
--markup-provider redcarpet
--asset docs/images:images
--readme README.markdown
lib/**/*.rb
ext/**/*{.m,.c}
-
docs/Inspecting.markdown
docs/Acting.markdown
docs/Searching.markdown
docs/Notifications.markdown
docs/KeyboardEvents.markdown
docs/Debugging.markdown
docs/NewBehaviour.markdown
docs/AccessibilityTips.markdown
docs/TestingExtensions.markdown
