--no-cache
--no-output
--verbose
--markup markdown
--markup-provider redcarpet
--asset docs/images:images
--readme README.markdown
--hide-void-return
lib/**/*.rb
ext/**/*{.m,.c}
-
History.markdown
CONTRIBUTING.markdown

